body{background-color:#f0f0f0;margin-top: 80px;font-family: 'Montserrat', sans-serif;}

nav{background-color:white;border-bottom:1px solid lightgray;}
.navbar-brand{padding-top:0;}
.navbar-brand img{height:15px;}
.navbar{padding:20px 0 18px 0;}
.main-nav{margin-left:20px;}
.nav-link{font-weight:700;}
.nav-link .fas{margin-right:6px;}
.nav-item{margin-right:15px;}
.nav-item .fa{margin-right:5px;}
.join-button{    background-color: #d14747;color: white !important;border-radius: 5px;padding: 8px 15px !important;}
.navbar-light .navbar-nav .nav-link{border-bottom:2px solid white;}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{color:#d14747;border-bottom:2px solid #d14747;}

section#title-section{padding-top:50px;margin-bottom:30px;}
body h1{font-size:32px;margin-bottom:0;}
.small-options{text-align:right;font-size:18px;padding-top:11px;}
.small-options a{color: #d14747;text-decoration: none;font-weight:600;}
.pull-right .nav-item:last-child{margin-right:0;}

#more-videos .row{margin-bottom:24px;}

.widget-box{height:358px;}
.widget-box img{border-radius:15px;}
.text-box{background-color: rgba(91,90,90,0.8);color: white;padding: 15px;position: relative;width: 100%;bottom: 80px;border-bottom-left-radius: 15px;border-bottom-right-radius: 15px;}
.text-box h2{font-size: 22px;margin-bottom: 0;}
.text-box span{font-size: 12px;}
.text-box .stars {position: absolute;right: 80px;bottom: 30px;}
.play-button{position: relative;bottom: 160px;left: 571px;font-size: 50px;color: white;}
.play-button:hover{color:#d14747;}
.pagination{margin:0;}

.page-item.active .page-link{background-color: #d14747;border-color: #d14747;}
.page-link:hover{color:#d14747;}
.breadcrumb{margin:0;}
.breadcrumb-section{margin-top: 95px;border-bottom: 1px solid lightgray;padding-bottom: 15px;}
.breadcrumb a{color: rgba(0,0,0,.55);text-decoration: none;font-weight: 700;}
.breadcrumb a .fas{margin-right:5px;}
.breadcrumb a:hover{color:#d14747;}

#videoplayer{border-radius:15px;}
#videoplayer:focus {outline:none;}

.video-main-box{height:482px;}
#play_button{font-size: 80px;position: relative;bottom: 280px;color: white;left: 380px;}

.video-small-image{background-color:red;height:200px;}
.margin-top-24{margin-top:24px;}

.video-options   ul{  padding: 0;list-style: none;background-color: white;border: 1px solid lightgray;border-radius:15px;margin-bottom:0;}
.video-options ul li{ border-bottom: 1px solid lightgray;padding-top: 27px;padding-bottom: 26px;padding-left: 24px;padding-right: 24px;}
.video-options ul li:last-child{border-bottom:none;padding-bottom: 1px;}

.video-options ul li h3,.video-options ul li h4{margin:0;}
.video-options ul li h3{font-size:23px;font-weight:600;}
.video-options ul li h4{font-size:17px;}

.border-radius-15{border-radius:15px;}
#rating{position: relative;
    bottom: 23px;
    left: 271px;
    margin: 0;
    padding: 0;}
.download-video{background-color: gray;
    padding: 10px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-size: 12px;
    position: relative;
    bottom: 23px;
    left: 269px;}
.no-padding-bottom{padding-bottom:0 !important;}

.nav-tabs{background-color: white;
    padding: 24px;
    padding-bottom: 0;
    border: 1px solid lightgray;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;}
    .tab-content{padding: 24px;
    background-color: white;
    border: 1px solid lightgray;
    border-top: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;}
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #d14747;
    background-color: #fff;
    border-color: lightgray;
    border-bottom: 1px solid white;font-weight:700;}
    .nav-tabs .nav-link a.hover{color:#d14747 !important;}

a{color:black;}
a:hover{color:#d14747;}
.nav-tabs .nav-link{font-weight:500;}


#profile h3{display:inline-block;}
.reviews-top{    display: inline-block;
    float: right;padding-top: 15px;}
#rating1{display:inline-block;}
.write-review{background-color: #d14747;margin-left:15px;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    color: white;}
    a.write-review{color:white;}
.review{margin-top:30px;}
.review hr{margin-top:30px;}
.review-stars{display:inline-block;}
.review h4{display: inline-block;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 600;
    margin-left: 5px;}
.review span{font-size: 13px;}
#profile .review h3{display:block;font-size:24px;}
a.red-link{color:#d14747;font-weight:600;text-decoration: none;}

.widget-box{height:172px;}
.widget-box .text-box{bottom: 54px;
    height: 54px;}
    .widget-box .text-box h2{font-size:16px;}
    .widget-box .fas{position: relative;
    bottom: 20px;
    left: 260px;}


.searchbar{background-color:white;padding:30px 0;}









.widget a.no-link-style:hover{text-decoration: none !important;}

a:hover{text-decoration: none !important;}
a{text-decoration: none;}

#add-to-backet,.basket-add{    background-color: #d14747;
    border: 0;
    color: white;
    border-radius: 10px;
    padding: 5px 15px;
    margin-left: 10px;border-bottom:2px solid #f0f0f0;}
    #add-to-backet:hover{border-bottom:2px solid black;}


    .basket-items{display:inline-block;background-color: #d14747;
    padding: 0px 6px;
    border-radius: 22px;
    color: white;
    margin-right: 4px;font-weight:400;}

    .add-to-basket-form span{display:inline-block;}
    .basket-add{margin-top:25px;}
    .add-to-basket-form{width:100%;}
    .add-to-basket-form span{display:inline-block;}
    .add-to-basket-form input[type=text]{display: inline-block;
    width: 140px;
    margin-right: 20px;
    margin-left: 10px;}


    .red-button{background-color: #d14747;
    border: 0;
    color: white;
    border-radius: 10px;
    padding: 5px 15px;
    margin-left: 10px;border-bottom:2px solid #f0f0f0;}


    .create-table{background: white;}
    .create-table table{border: 1px solid lightgray;}
    .create-table td{padding:24px;}

    .widget-box{margin-bottom:24px;}


.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
    color: #d14747;
    border-bottom: 2px solid #d14747;
}


.pack-box{
    display: inline-block;padding-top:6px;
}
.pack-box a{background-color: gray;
    padding: 8px 20px;
    font-size: 20px;
    color: white;
    border-radius: 7px;margin-right:10px;}
.pack-box a:hover{background-color:#d14747;}
.pack-widget{background-color: white;
    padding: 24px;
    border: 1px solid lightgray; margin-bottom:24px;}

.pack-box .update-pack-active{background-color:#d14747;}

.pack-box a.active{background-color:#d14747;}
.body-wrapper{position: absolute;
    top: 0;
    width: 100%;}

.jumbotron{    margin-top: 200px;
    background-color: white;
    padding: 45px;
    border: 1px solid lightgray;
    border-radius: 10px;}
.jumbotron h1{    font-size: 36px;
    font-weight: 600;
}
.jumbotron span{margin-bottom: 24px;
    display: block;}

.alert-success,.alert-danger{z-index:100000;}
.modal{z-index:20000000000000;}






/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
